{% extends "header.html" %}
{% block content %}  
     <div class="text-center">
	
		<a href="http://localhost:5000/admin-nouveau"><input type="button" value="ajouter un nouveau article"></a>
	</div>
	<h1>Listes des articles</h1>
  {% if not articles %}
    <p>base vide.</p>
  {% else %}
    <div>
      {% for article in articles %}
	     <form action="http://localhost:5000/modifier/{{article[0]}}" >
		    <div class ="panel panel-primary article">
				<div class="panel-heading">
					<h5><div class="label text-right">Titre : {{ article[1] }}</div>	</h5>			
				</div>		   
				<div class="footer" >			   
					<div>date de publication : {{ article[4] }} </div>
					<div class="exR">				
						<input type="submit" value="modifier l'article {{article[1]}}">
					</div>				
				</div>		 		    
		    </div>         
		 </form>
	     
      {% endfor %}
    </div>
  {% endif %}
    
		 
 {% endblock %}
