{% extends "header.html" %}
{% block content %} 
<h1>Formulaire d'article</h1>  
<form action="http://localhost:5000/inserer" method="POST">

    <div class="form-group row">
        <label class="control-label col-sm-2" for="identifiant">Identifiant:</label>
        <div class="col-sm-4"> 
            <input type="text" class="form-control" name="identifiant" id="identifiant" placeholder="Entrer Identifiant">
        </div>
        <div class="col-sm-2" >
            {% if erreur %}
            <p id="erreur">{{ erreur.identifiant}}</p>
            {%endif%}     
        </div>
    </div> 
    <div class="form-group row">
        <label class="control-label col-sm-2" for="titre">Titre:</label>
        <div class="col-sm-4"> 
            <input type="text" class="form-control" name="titre" id="titre" placeholder="Entrer titre">
        </div>
        <div class="col-sm-2" >
            {% if erreur %}
            <p id="erreur">{{ erreur.titre}}</p>
            {%endif%}     
        </div>
    </div> <br>
    <div class="form-group row">
        <label class="control-label col-sm-2" for="auteur">Auteur:</label>
        <div class="col-sm-4"> 
            <input type="text" class="form-control" name="auteur" id="auteur" placeholder="Entrer Auteur">
        </div>
        <div class="col-sm-2" >
            {% if erreur %}
            <p id="erreur">{{ erreur.auteur}}</p>
            {%endif%}     
        </div>
    </div> <br>
    <div class="form-group row">
        <label class="control-label col-sm-2" for="identifiant">Date de publication:</label>
        <div class="col-sm-4"> 
            <input type="text" class="form-control" name="date_publication"id="date_publication" placeholder="Entrer date de publication">
        </div>
        <div class="col-sm-2" >
            {% if erreur %}
            <p id="erreur">{{ erreur.date_publication}}</p>
            {%endif%}     
        </div>
    </div> <br>
    <div class="form-group row">
        <label class="control-label col-sm-2" for="paragraphe">Paragraphe:</label>
        <div class="col-sm-4"> 
            <input type="text" class="form-control" name="paragraphe" id="paragraphe" placeholder="Entrer paragraphe">
        </div>
        <div class="col-sm-2" >
            {% if erreur %}
            <p id="erreur">{{ erreur.paragraphe}}</p>
            {%endif%}     
        </div>
    </div> <br>
    <div class="form-group row"> 
        <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn-default">Envoyer</button>
        </div>
    </div>
</form>
{% endblock %}