<!DOCTYPE html>
<!--
 Etudiant 1:
 code Permanent:
 Nom: 
 Prenoms
 Etudiant 2: 
 code Permanent: HAZH12079009
 Nom: HAZOUNME
 Prenoms: HENRI JOEL
-->
<html lang="fr">
<head>
  <title>CMS Journal</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />   
  <link rel="stylesheet" type="text/css" href = "{{ url_for('static', filename = 'style2.css') }}" >
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TP1/CMS</a>
    </div>
    <ul class="nav navbar-nav">	  
      <li class=""><a href="http://localhost:5000/"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a></li>
      <li><a href="http:://localhost:5000/admin">Administrateur</a></li>
      <li><a href="http://localhost:5000/admin-nouveau">admin nouveau</a></li>     
    </ul>
  </div>
</nav>
 
<div >
    {% block content %}{% endblock %}
</div>
     
</div>
 
  
</body>
</html>


